/* -------------------- Background Setting -------------------- */
body {
	background:url(./images/IMG20170727160842_gr.jpg);
	background-size:cover;
	background-attachment: fixed;
	font-family: 'Lato', sans-serif;
}

/* -------------------- Font Specification -------------------- */
.fontGotu {
	font-family: 'Gotu', sans-serif;
	color: white;
}

/* -------------------- Jumbotron Section -------------------- */
#jumbotronHeader {
	top: 0;
	bottom: 0;
	left: 0;
	font-size: 15px;
	color: #fff;
	text-align: left;
	background-color: rgba(111,137,98,.6);
}

/* Name & Introduction */
#containerHeader {
	width: 1500px;
	background-color: rgba(0,0,0,.4);
}

/* Introduction */
#pIntro {
	font-weight: 300;
	font-size: 20px;
}

/* Explore my Work */
#aExplore {
	border: none;
	color: rgba(30,40,38,.9);
	background-color: white;
}

/* -------------------- Main Content Container -------------------- */
/* Contains Navbar + All Sub-Sections */
#containerMain {
	background-color: rgba(197,207,192,.8);
	padding-bottom: 4px;
}

/* -------------------- Navigation Bar -------------------- */
#mainNav {
	background-color: rgba(30,40,38,.9);
	border-top: 2px solid white;
}

/* Format the Main Links */
ul { 
  	padding: 0; 
  	list-style: none; 
  	display: table;
  	text-align: center;
}

li { 
  	display: table-cell; 
  	position: relative; 
}

/* Links on the Navbar */
h6 {
	color: white;
}

.mainLink:hover {
	color: #dcd8d2;
}

/* Underline Effect */
.mainLink:after {    
  	background: none repeat scroll 0 0 transparent;
  	bottom: 0;
  	content: "";
  	display: block;
  	height: 2px;
  	left: 50%;
  	position: absolute;
  	background: #fff;
  	transition: width 0.3s ease 0s, left 0.3s ease 0s;
  	width: 0;
}

.mainLink:hover:after { 
  	width: 100%; 
  	left: 0; 
}

/* -------------------- Sub-sections Formatting -------------------- */
/* About Me Sub-section */
#accordionAbout {
	top: 0;
	bottom: 0;
	left: 0;
	font-size: 15px;
	color: #fff;
	text-align: left;
	background-color: rgba(180,162,140,.95);
	scroll-margin-top: 4em;
}

.card-header {
    background-color: rgba(0,0,0,.10);
    padding-top: 25px;
}

.card-link:hover {
    color: #dcd8d2;
}

/* Normal Anchor Tags */
.normalLink {
	color: white;
	text-decoration: underline;
}

.normalLink:hover {
	color: #dcd8d2;
}

/* Skillset Icons */
.toolIcon {
	transition: transform .2s;
}

.toolIcon:hover {
	transform: scale(1.5);
}

/* Projects Sub-section */
#accordionProjects {
	top: 0;
	bottom: 0;
	left: 0;
	font-size: 14px;
	color: #fff;
	text-align: left;
	background-color: rgba(91,87,86,.9);
	scroll-margin-top: 4em;
}

/* Card Formatting per Project */
.card {
	background-color: rgba(0,0,0,.10);
}

.card-img-top {
    width: 100%;
    height: 15em;
    object-fit: cover;
}

/* Technologies/Languages Used per Project */
.badge {
	display:inline-block;
	font-weight: 500;
	line-height: 2;
	text-align: left;
	border-radius: 1px;
	font: Helvetica;
	background-color: rgba(117,127,112,.5);
}

/* Contact Me Sub-section */
#accordionContact {
	top: 0;
	bottom: 0;
	left: 0;
	font-size: 15px;
	color: #fff;
	text-align: left;
	background-color: rgba(59,72,63,.9);
	scroll-margin-top: 5em;
}

/* Social Media Icons */
.socmed-button {
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
}

.socmed-button:hover {
	text-decoration: none;
	color: #67755f;
}

/* Quick Message Form Formatting */
#txt-name, #txt-email, #txt-textarea {
	outline: none;
	border: none;
	color: white;
	background-color: rgba(0,0,0,.10);
}

#txt-name:focus, #txt-email:focus, #txt-textarea:focus {
	box-shadow: none;
	color: white;
	outline: 1px solid rgba(30,40,38,.9);
}

#buttonSubmit {
	border: none;
	color: rgba(30,40,38,.9);
	background-color: white;
}

/* -------------------- Footer Formatting -------------------- */
#containerFooter {
	top: 0;
	bottom: 0;
	left: 0;
	font-size: 14px;
	color: #fff;
	text-align: left;
	background-color: rgba(30,40,38,.9);
	border-top: 2px solid white;
}

#imgK {
	 width: 60px;
}